# Advanced Python Course 
## Mobi Heidelberg 2019
### by Christian Fufezan 

christian@fufezan.net

https://fufezan.net

<img src="./imgs/cc.png" alt="drawing" width="200" style="float: left;"/>

# Pandas level 1
Data wrangling 101

I'd like to say Pandas is numpy on steriods but it is actually much more.

Pandas is the data science solution for Python and it build ontop of the powerful numpy module.
However, Pandas offers elements that are much more intuitive or go beyond what numpy has ever provided.

Pandas was create [Wes McKinney](https://wesmckinney.com/pages/about.html) in the early 2008 at AQR capital management and I can recommend "Python for Data Analysis" from Wes, which was published via O'Reilly. The following Pandas chapters are inspired by the book.

Pandas offers the two basic data structures
* Series
* Dataframes

In [2]:
import pandas as pd
import numpy as np

In [3]:
c = pd.Series(
    np.random.randn(4), 
    index=['r1', 'r2', 'r3', 'r4']
)
c

r1    0.214202
r2    1.220882
r3    0.022706
r4    0.573782
dtype: float64

In [4]:
c['r2']

1.2208819731877458

In [5]:
c > 0

r1    True
r2    True
r3    True
r4    True
dtype: bool

In [6]:
c[c > 0]

r1    0.214202
r2    1.220882
r3    0.022706
r4    0.573782
dtype: float64

In [7]:
c * 10

r1     2.142017
r2    12.208820
r3     0.227064
r4     5.737819
dtype: float64

In [8]:
np.exp(c)

r1    1.238872
r2    3.390176
r3    1.022966
r4    1.774967
dtype: float64

Operations conserve index!

Series are like ordered Dicts!

In [9]:
'r1' in c

True

np.nan is the missing value indicator

In [10]:
d = pd.Series({'r1': np.nan, 'r2': 0.2, 'r3': 0.2, 'r4': 0.4})

In [11]:
d

r1    NaN
r2    0.2
r3    0.2
r4    0.4
dtype: float64

In [12]:
d.isna()

r1     True
r2    False
r3    False
r4    False
dtype: bool

In [14]:
~d.isna()

r1    False
r2     True
r3     True
r4     True
dtype: bool

In [15]:
d.notnull()

r1    False
r2     True
r3     True
r4     True
dtype: bool

Naming things will help you to get your data organised better. Explicit is better than implicit! And remember to choose your names variable wisely - you will code read often than you write.

In [16]:
d.index.name = "variable"
d.name = "probability"
d

variable
r1    NaN
r2    0.2
r3    0.2
r4    0.4
Name: probability, dtype: float64

In [17]:
d.reset_index()

  variable  probability
0       r1          NaN
1       r2          0.2
2       r3          0.2
3       r4          0.4

# Data frames 
Data frames are the pandas 2d data containers. In principle data frames are a list of Series, whereas each row is a series

In [18]:
df = pd.DataFrame(
    [
        c, 
        d, 
        pd.Series(np.random.randn(4), index=['r2', 'r3', 'r4', 'r5'])
    ]
)
df

                   r1        r2        r3        r4        r5
Unnamed 0    0.214202  1.220882  0.022706  0.573782       NaN
probability       NaN  0.200000  0.200000  0.400000       NaN
Unnamed 1         NaN -1.127904 -1.453645 -0.678442  1.456267

In [19]:
df.loc['probability', 'r2']

0.2

Note: How pandas aligns your data automatically.

If you want each series to be treated as column, just transpose

In [20]:
df = df.T
df

    Unnamed 0  probability  Unnamed 1
r1   0.214202          NaN        NaN
r2   1.220882          0.2  -1.127904
r3   0.022706          0.2  -1.453645
r4   0.573782          0.4  -0.678442
r5        NaN          NaN   1.456267

Renaming columns in a data frame

In [21]:
df.columns = ['p1', 'p2', 'p3']
df

          p1   p2        p3
r1  0.214202  NaN       NaN
r2  1.220882  0.2 -1.127904
r3  0.022706  0.2 -1.453645
r4  0.573782  0.4 -0.678442
r5       NaN  NaN  1.456267

Dataframes can equally be named, for your sanity, name them :)

In [22]:
df.columns.name = "probability"
df.index.name = "variable"
df

probability        p1   p2        p3
variable
r1           0.214202  NaN       NaN
r2           1.220882  0.2 -1.127904
r3           0.022706  0.2 -1.453645
r4           0.573782  0.4 -0.678442
r5                NaN  NaN  1.456267

Now that you feel happy in the pandas world, some modules/functions require numpy arrays, how do you convert them ?

In [23]:
np_df = df.values
np_df

array([[ 0.21420165,         nan,         nan],
       [ 1.22088197,  0.2       , -1.12790437],
       [ 0.02270642,  0.2       , -1.45364521],
       [ 0.57378186,  0.4       , -0.6784425 ],
       [        nan,         nan,  1.45626689]])

In [24]:
type(np_df)

numpy.ndarray

If you need to work "longer" on the numpy side, I sufggest to transform the pandas dataframe to a numpy recarray, as names are preserved;

In [25]:
# np_df = df.values # 
np_df = df.to_records()
np_df

rec.array([('r1', 0.21420165, nan,         nan),
           ('r2', 1.22088197, 0.2, -1.12790437),
           ('r3', 0.02270642, 0.2, -1.45364521),
           ('r4', 0.57378186, 0.4, -0.6784425 ),
           ('r5',        nan, nan,  1.45626689)],
          dtype=[('variable', 'O'), ('p1', '<f8'), ('p2', '<f8'), ('p3', '<f8')])

In [26]:
np_df['variable']

array(['r1', 'r2', 'r3', 'r4', 'r5'], dtype=object)

In [27]:
np_df[0]

('r1', 0.21420165, nan, nan)

# Operations between DataFrame and Series

In [28]:
df_small = pd.DataFrame([c, d])
df_small

variable           r1        r2        r3        r4
Unnamed 0    0.214202  1.220882  0.022706  0.573782
probability       NaN  0.200000  0.200000  0.400000

In [29]:
c

r1    0.214202
r2    1.220882
r3    0.022706
r4    0.573782
dtype: float64

In [30]:
df_small - c

variable      r1        r2        r3        r4
Unnamed 0    0.0  0.000000  0.000000  0.000000
probability  NaN -1.020882  0.177294 -0.173782

Next time you want to normalize each row of a data frame, one can define the correction factors as a series and just e.g. subtract it.

In [31]:
df.rename(columns={'p1':'VLC'}, inplace=True)

In [32]:
df[["VLC", 'p2']]

probability       VLC   p2
variable
r1           0.214202  NaN
r2           1.220882  0.2
r3           0.022706  0.2
r4           0.573782  0.4
r5                NaN  NaN

# Sorting

In [33]:
df.head()

probability       VLC   p2        p3
variable
r1           0.214202  NaN       NaN
r2           1.220882  0.2 -1.127904
r3           0.022706  0.2 -1.453645
r4           0.573782  0.4 -0.678442
r5                NaN  NaN  1.456267

In [35]:
df.sort_values(['p2'])

probability       VLC   p2        p3
variable
r2           1.220882  0.2 -1.127904
r3           0.022706  0.2 -1.453645
r4           0.573782  0.4 -0.678442
r1           0.214202  NaN       NaN
r5                NaN  NaN  1.456267

Sort_values has kwargs like ascending = True|False and values are defined by a list, ie sort first by, then by ...

In [36]:
df.sort_values(['p2', 'p3'])

probability       VLC   p2        p3
variable
r3           0.022706  0.2 -1.453645
r2           1.220882  0.2 -1.127904
r4           0.573782  0.4 -0.678442
r5                NaN  NaN  1.456267
r1           0.214202  NaN       NaN

You can chain sorting as well, if you want to sort one column ascending and the other one not. 

Note: chaining happens from the left to the right.

In [37]:
"Abcde".replace('c','$').upper()

'AB$DE'

In [38]:
# but
"Abcde".replace('C','$').upper()

'ABCDE'

In [39]:
df.sort_values(['p2'])

probability       VLC   p2        p3
variable
r2           1.220882  0.2 -1.127904
r3           0.022706  0.2 -1.453645
r4           0.573782  0.4 -0.678442
r1           0.214202  NaN       NaN
r5                NaN  NaN  1.456267

In [41]:
df.sort_values(['p2']).sort_values(['p3'], ascending=False)

probability       VLC   p2        p3
variable
r5                NaN  NaN  1.456267
r4           0.573782  0.4 -0.678442
r2           1.220882  0.2 -1.127904
r3           0.022706  0.2 -1.453645
r1           0.214202  NaN       NaN

# Deleting things

In [42]:
c

r1    0.214202
r2    1.220882
r3    0.022706
r4    0.573782
dtype: float64

In [43]:
c.drop('r2')

r1    0.214202
r3    0.022706
r4    0.573782
dtype: float64

In [44]:
df

probability       VLC   p2        p3
variable
r1           0.214202  NaN       NaN
r2           1.220882  0.2 -1.127904
r3           0.022706  0.2 -1.453645
r4           0.573782  0.4 -0.678442
r5                NaN  NaN  1.456267

In [46]:
df.drop(columns=['p2', 'p3'])

probability       VLC
variable
r1           0.214202
r2           1.220882
r3           0.022706
r4           0.573782
r5                NaN

In [47]:
df.drop(['r1', 'r5'])

probability       VLC   p2        p3
variable
r2           1.220882  0.2 -1.127904
r3           0.022706  0.2 -1.453645
r4           0.573782  0.4 -0.678442

# slicing and dicing

In [48]:
df[:3] # df[:'r3'] works as well

probability       VLC   p2        p3
variable
r1           0.214202  NaN       NaN
r2           1.220882  0.2 -1.127904
r3           0.022706  0.2 -1.453645

In [49]:
df['p2']

variable
r1    NaN
r2    0.2
r3    0.2
r4    0.4
r5    NaN
Name: p2, dtype: float64

In [50]:
df.loc['r1']

probability
VLC    0.214202
p2          NaN
p3          NaN
Name: r1, dtype: float64

In [51]:
df > 0

probability    VLC     p2     p3
variable
r1            True  False  False
r2            True   True  False
r3            True   True  False
r4            True   True  False
r5           False  False   True

In [52]:
df[df > 0]

probability       VLC   p2        p3
variable
r1           0.214202  NaN       NaN
r2           1.220882  0.2       NaN
r3           0.022706  0.2       NaN
r4           0.573782  0.4       NaN
r5                NaN  NaN  1.456267

In [55]:
df[df['p3'] > 0] # reduces the data frame, note that is just a view, not a copy!

probability  VLC  p2        p3
variable
r5           NaN NaN  1.456267

In [56]:
df['p3'].idxmax()

'r5'

In [57]:
df.idxmax()

probability
VLC    r2
p2     r4
p3     r5
dtype: object

In [58]:
df.describe()

probability       VLC        p2        p3
count        4.000000  3.000000  4.000000
mean         0.507893  0.266667 -0.450931
std          0.527369  0.115470  1.310584
min          0.022706  0.200000 -1.453645
25%          0.166328  0.200000 -1.209340
50%          0.393992  0.200000 -0.903173
75%          0.735557  0.300000 -0.144765
max          1.220882  0.400000  1.456267

In [60]:
df['p3'].unique()

array([        nan, -1.12790437, -1.45364521, -0.6784425 ,  1.45626689])

In [62]:
print(
    "df.loc['r1','p2']: ", df.loc['r1','p2'],
    " type: ", type(df.loc['r1','p2'])
)

df.loc['r1','p2']:  nan  type:  <class 'numpy.float64'>

# Hierarchical indexing

In [63]:
s = pd.Series(
        np.random.randn(5), 
        index = [
            ['p1','p1','p2','p2','p3'],
            ['a','b','a','d','a']
        ]
)
s

p1  a    1.075065
    b   -0.856704
p2  a    0.189012
    d   -0.305839
p3  a    2.108892
dtype: float64

In [64]:
s.index

MultiIndex([('p1', 'a'),
            ('p1', 'b'),
            ('p2', 'a'),
            ('p2', 'd'),
            ('p3', 'a')],
           )

In [65]:
s.index.names = ['probability', 'type']

In [66]:
s

probability  type
p1           a       1.075065
             b      -0.856704
p2           a       0.189012
             d      -0.305839
p3           a       2.108892
dtype: float64

In [67]:
s['p1']

type
a    1.075065
b   -0.856704
dtype: float64

In [68]:
s[:, 'a'] # lower level

probability
p1    1.075065
p2    0.189012
p3    2.108892
dtype: float64

In [69]:
s2 = s.unstack()
print(type(s2))
s2

<class 'pandas.core.frame.DataFrame'>

type                a         b         d
probability
p1           1.075065 -0.856704       NaN
p2           0.189012       NaN -0.305839
p3           2.108892       NaN       NaN

In [70]:
s3 = s2.stack()
print(type(s3))
s3

<class 'pandas.core.series.Series'>

probability  type
p1           a       1.075065
             b      -0.856704
p2           a       0.189012
             d      -0.305839
p3           a       2.108892
dtype: float64

In [71]:
df = pd.DataFrame(
    [
        c, 
        c * 20, 
        d,
        np.exp(d),
        pd.Series(np.random.randn(4), index=['r2', 'r3', 'r4', 'r5'])
    ],
    index = [
        ['p1','p1','p2','p2','p3'],
        ['a','b','a','d','a']
    ]
)
df.index.names = ['probability', 'type']
df

                        r1         r2        r3         r4        r5
probability type
p1          a     0.214202   1.220882  0.022706   0.573782       NaN
            b     4.284033  24.417639  0.454128  11.475637       NaN
p2          a          NaN   0.200000  0.200000   0.400000       NaN
            d          NaN   1.221403  1.221403   1.491825       NaN
p3          a          NaN   1.254533 -0.703695  -0.928588 -1.105644

In [72]:
df = df.fillna(0)
df

                        r1         r2        r3         r4        r5
probability type
p1          a     0.214202   1.220882  0.022706   0.573782  0.000000
            b     4.284033  24.417639  0.454128  11.475637  0.000000
p2          a     0.000000   0.200000  0.200000   0.400000  0.000000
            d     0.000000   1.221403  1.221403   1.491825  0.000000
p3          a     0.000000   1.254533 -0.703695  -0.928588 -1.105644

In [73]:
df2 = df.swaplevel('probability', 'type')
df2

                        r1         r2        r3         r4        r5
type probability
a    p1           0.214202   1.220882  0.022706   0.573782  0.000000
b    p1           4.284033  24.417639  0.454128  11.475637  0.000000
a    p2           0.000000   0.200000  0.200000   0.400000  0.000000
d    p2           0.000000   1.221403  1.221403   1.491825  0.000000
a    p3           0.000000   1.254533 -0.703695  -0.928588 -1.105644

In [74]:
df2.sort_index(axis=0, level=0)

                        r1         r2        r3         r4        r5
type probability
a    p1           0.214202   1.220882  0.022706   0.573782  0.000000
     p2           0.000000   0.200000  0.200000   0.400000  0.000000
     p3           0.000000   1.254533 -0.703695  -0.928588 -1.105644
b    p1           4.284033  24.417639  0.454128  11.475637  0.000000
d    p2           0.000000   1.221403  1.221403   1.491825  0.000000

In [75]:
df2.sum(level=0)

            r1         r2        r3         r4        r5
type
a     0.214202   2.675415 -0.480989   0.045193 -1.105644
b     4.284033  24.417639  0.454128  11.475637  0.000000
d     0.000000   1.221403  1.221403   1.491825  0.000000

In [76]:
df2.sum(level=1)

                   r1         r2        r3         r4        r5
probability
p1           4.498235  25.638521  0.476835  12.049419  0.000000
p2           0.000000   1.421403  1.421403   1.891825  0.000000
p3           0.000000   1.254533 -0.703695  -0.928588 -1.105644

In [77]:
df3 = df2.reset_index()
df3

  type probability        r1         r2        r3         r4        r5
0    a          p1  0.214202   1.220882  0.022706   0.573782  0.000000
1    b          p1  4.284033  24.417639  0.454128  11.475637  0.000000
2    a          p2  0.000000   0.200000  0.200000   0.400000  0.000000
3    d          p2  0.000000   1.221403  1.221403   1.491825  0.000000
4    a          p3  0.000000   1.254533 -0.703695  -0.928588 -1.105644

In [78]:
df4 = df3.melt(
    id_vars=['type','probability'],
    var_name='r_stage',
    value_name='p-value'
)
print(df4.shape)
df4.head()

(25, 4)

  type probability r_stage   p-value
0    a          p1      r1  0.214202
1    b          p1      r1  4.284033
2    a          p2      r1  0.000000
3    d          p2      r1  0.000000
4    a          p3      r1  0.000000

In [79]:
df4.pivot_table(index=['type', 'probability'], columns='r_stage', values="p-value")

r_stage                 r1         r2        r3         r4        r5
type probability
a    p1           0.214202   1.220882  0.022706   0.573782  0.000000
     p2           0.000000   0.200000  0.200000   0.400000  0.000000
     p3           0.000000   1.254533 -0.703695  -0.928588 -1.105644
b    p1           4.284033  24.417639  0.454128  11.475637  0.000000
d    p2           0.000000   1.221403  1.221403   1.491825  0.000000

In [80]:
import pandas_profiling

ModuleNotFoundError: No module named 'pandas_profiling'